.Rproj.user
.Rhistory
.RData
.Ruserdata
data/data_raw/wildfire-severity_sierra-nevada-ca-usa_ypmc_1984-2017_rasters/*
data/data_raw/features/jepcodes-v7.kml
data/data_raw/features/RDS-2013-0009.4_GDB/*
data/data_output/sierra-nevada-short-fod-4326.geoJSON
data/data_output/sierra-nevada-short-fod/*
.DS_Store
docs/manuscript/selection-by-suppression.tex
docs/manuscript/feedback/*
data/data_output/polygonized-fires-by-severity-classes.gpkg
data/data_raw/features/FRID-sierra-nevada/*
*~$*.docx